 

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20px;
    align-items: center;
}

.inputFields{
    padding: 10px;
    margin: 12px;
    border-radius: 8px;
    
}

.sbmt{
    padding: 7px;
    border-radius: 8px;
    background-color: rgb(17, 141, 17);
}
 